<a href="https://colab.research.google.com/github/lluk4z/IF697-CienciaDeDados/blob/main/Projeto01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sklearn

In [ ]:
from google.colab import files
import io
uploaded = files.upload()

Saving owid-covid-data.csv to owid-covid-data.csv

In [ ]:
df = pd.read_csv(io.StringIO(uploaded['owid-covid-data.csv'].decode('utf-8')))

In [ ]:
df.head()

  iso_code continent  ... human_development_index excess_mortality
0      AFG      Asia  ...                   0.511              NaN
1      AFG      Asia  ...                   0.511              NaN
2      AFG      Asia  ...                   0.511              NaN
3      AFG      Asia  ...                   0.511              NaN
4      AFG      Asia  ...                   0.511              NaN

[5 rows x 60 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101998 entries, 0 to 101997
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso_code                               101998 non-null  object
 1   continent                              97230 non-null   object
 2   location                               101998 non-null  object
 3   date                                   101998 non-null  object
 4   total_cases                            98192 non-null   float64
 5   new_cases                              98189 non-null   float64
 6   new_cases_smoothed                     97179 non-null   float64
 7   total_deaths                           87983 non-null   float64
 8   new_deaths                             88139 non-null   float64
 9   new_deaths_smoothed                    97179 non-null   float64
 10  total_cases_per_million                97670 non-null   float64
 11  new_cases_per_million                  97667 non-null   float64
 12  new_cases_smoothed_per_million         96662 non-null   float64
 13  total_deaths_per_million               87474 non-null   float64
 14  new_deaths_per_million                 87630 non-null   float64
 15  new_deaths_smoothed_per_million        96662 non-null   float64
 16  reproduction_rate                      82227 non-null   float64
 17  icu_patients                           10257 non-null   float64
 18  icu_patients_per_million               10257 non-null   float64
 19  hosp_patients                          12736 non-null   float64
 20  hosp_patients_per_million              12736 non-null   float64
 21  weekly_icu_admissions                  928 non-null     float64
 22  weekly_icu_admissions_per_million      928 non-null     float64
 23  weekly_hosp_admissions                 1591 non-null    float64
 24  weekly_hosp_admissions_per_million     1591 non-null    float64
 25  new_tests                              45773 non-null   float64
 26  total_tests                            45435 non-null   float64
 27  total_tests_per_thousand               45435 non-null   float64
 28  new_tests_per_thousand                 45773 non-null   float64
 29  new_tests_smoothed                     53288 non-null   float64
 30  new_tests_smoothed_per_thousand        53288 non-null   float64
 31  positive_rate                          49803 non-null   float64
 32  tests_per_case                         49173 non-null   float64
 33  tests_units                            54975 non-null   object
 34  total_vaccinations                     17814 non-null   float64
 35  people_vaccinated                      16964 non-null   float64
 36  people_fully_vaccinated                14088 non-null   float64
 37  new_vaccinations                       14839 non-null   float64
 38  new_vaccinations_smoothed              31080 non-null   float64
 39  total_vaccinations_per_hundred         17814 non-null   float64
 40  people_vaccinated_per_hundred          16964 non-null   float64
 41  people_fully_vaccinated_per_hundred    14088 non-null   float64
 42  new_vaccinations_smoothed_per_million  31080 non-null   float64
 43  stringency_index                       85561 non-null   float64
 44  population                             101342 non-null  float64
 45  population_density                     94735 non-null   float64
 46  median_age                             91054 non-null   float64
 47  aged_65_older                          90032 non-null   float64
 48  aged_70_older                          90551 non-null   float64
 49  gdp_per_capita                         91423 non-null   float64
 50  extreme_poverty                        61663 non-null   float64
 51  cardiovasc_death_rate                  91428 non-null   float64
 52  diabetes_prevalence                    93811 non-null   float64
 53  female_smokers                         71488 non-null   float64
 54  male_smokers                           70445 non-null   float64
 55  handwashing_facilities                 45943 non-null   float64
 56  hospital_beds_per_thousand             83260 non-null   float64
 57  life_expectancy                        96855 non-null   float64
 58  human_development_index                91566 non-null   float64
 59  excess_mortality                       3571 non-null    float64
dtypes: float64(55), object(5)
memory usage: 46.7+ MB

In [ ]:
df.isnull().sum()

iso_code                                      0
continent                                  4768
location                                      0
date                                          0
total_cases                                3806
new_cases                                  3809
new_cases_smoothed                         4819
total_deaths                              14015
new_deaths                                13859
new_deaths_smoothed                        4819
total_cases_per_million                    4328
new_cases_per_million                      4331
new_cases_smoothed_per_million             5336
total_deaths_per_million                  14524
new_deaths_per_million                    14368
new_deaths_smoothed_per_million            5336
reproduction_rate                         19771
icu_patients                              91741
icu_patients_per_million                  91741
hosp_patients                             89262
hosp_patients_per_million                 89262
weekly_icu_admissions                    101070
weekly_icu_admissions_per_million        101070
weekly_hosp_admissions                   100407
weekly_hosp_admissions_per_million       100407
new_tests                                 56225
total_tests                               56563
total_tests_per_thousand                  56563
new_tests_per_thousand                    56225
new_tests_smoothed                        48710
new_tests_smoothed_per_thousand           48710
positive_rate                             52195
tests_per_case                            52825
tests_units                               47023
total_vaccinations                        84184
people_vaccinated                         85034
people_fully_vaccinated                   87910
new_vaccinations                          87159
new_vaccinations_smoothed                 70918
total_vaccinations_per_hundred            84184
people_vaccinated_per_hundred             85034
people_fully_vaccinated_per_hundred       87910
new_vaccinations_smoothed_per_million     70918
stringency_index                          16437
population                                  656
population_density                         7263
median_age                                10944
aged_65_older                             11966
aged_70_older                             11447
gdp_per_capita                            10575
extreme_poverty                           40335
cardiovasc_death_rate                     10570
diabetes_prevalence                        8187
female_smokers                            30510
male_smokers                              31553
handwashing_facilities                    56055
hospital_beds_per_thousand                18738
life_expectancy                            5143
human_development_index                   10432
excess_mortality                          98427
dtype: int64

In [ ]:
df.isnull().sum().sum()

2480377

In [ ]:
df.describe()

        total_cases      new_cases  ...  human_development_index  excess_mortality
count  9.819200e+04   98189.000000  ...             91566.000000       3571.000000
mean   1.105663e+06    6046.976790  ...                 0.727228         18.251563
std    7.548017e+06   37688.281473  ...                 0.150349         35.848993
min    1.000000e+00  -74347.000000  ...                 0.394000        -95.590000
25%    1.337000e+03       2.000000  ...                 0.602000          0.450000
50%    1.409300e+04      74.000000  ...                 0.748000          7.390000
75%    1.508630e+05     820.000000  ...                 0.848000         23.995000
max    1.872385e+08  906017.000000  ...                 0.957000        409.760000

[8 rows x 55 columns]